<!DOCTYPE html>
<html>
  <head>
    <title>NUnit Test Report</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- inject:styles:css -->
    <!-- endinject -->
    <!-- inject:test:js -->
    <!-- endinject -->
  </head>
  <body ng-app="NUnitReport">
    <div class="view-container">
      <div ng-view class="view"></div>
    </div>
    <!-- inject:views:html -->
    <!-- endinject -->
    <!-- inject:app:js -->
    <!-- endinject -->
    <back-top></back-top>
  </body>
</html>