.dashboard-test-case{
	padding: 0 0.5em;
	word-wrap: break-word;
}

.dashboard-test-case .panel {
	height: 5em;
}

.dashboard-test-case .panel-heading {
	height: 100%;
	cursor: pointer;
}

.nav a {
	cursor: pointer;	
}

.nav {
	margin-top: 2px;
}

input[type='search']{
	margin: 6px;	
}

pre.truncated {
	max-height: 400px;
}

.clickable {
	cursor: pointer;
}

.test-case-name{
	font-size: 20px;
}

/* animations */
.view.ng-enter, .view.ng-leave {
  	transition:0.5s linear all;
  	position:fixed;
  	left:0;
  	top:0;
  	width:100%;
}

.view.ng-enter {
  	transform:translateX(100%);
}

.view.ng-leave,
.view.ng-enter.ng-enter-active {
  	transform:translateX(0%);
}

.view.ng-leave.ng-leave-active {
  	transform:translateX(-100%);
}
/* animation */

/* angular-ui-bootstrap compitibility hack */
.nav, 
.pagination, 
.carousel, 
.panel-title a { 
	cursor: pointer; 
}
/* angular-ui-bootstrap compitibility hack */