<div class="left-menu col-md-4">
    <ul class="nav nav-pills nav-justified nav-filter">
        <li ng-class="{active: isResultTypeAny()}">
            <a ng-click="setAnyResultType()">
                Total <span class="badge">{{summary.total}}</span>
            </a>
        </li>
        <li ng-class="{active: isResultTypeActive('Passed')}">
            <a ng-click="setActiveResultType('Passed')">
                Passed <span class="badge success">{{summary.passed}}</span>
            </a>
        </li>
        <li ng-class="{active: isResultTypeActive('Failed')}">
            <a ng-click="setActiveResultType('Failed')">
                Failed <span class="badge failed">{{summary.failed}}</span>
            </a>
        </li>
        <li ng-class="{active: isResultTypeActive('Inconclusive')}">
            <a ng-click="setActiveResultType('Inconclusive')">
                Inconclusive <span class="badge inconclusive">{{summary.inconclusive}}</span>
            </a>
        </li>
        <li ng-class="{active: isResultTypeActive('Skipped')}">
            <a ng-click="setActiveResultType('Skipped')">
                Skipped <span class="badge skipped">{{summary.skipped}}</span>
            </a>
        </li>
    </ul>
    <input 
        type="search" 
        class="form-control" 
        ng-model="query" 
        uib-typeahead="name as tc.name for tc in testCases | filter:$viewValue | limitTo:8" 
        typeahead-on-select="setQueryFilterValue($item.name)" 
        placeholder="Test Case Filter" 
    />
    <ul class="list-group">
        <a 
            class="list-group-item" 
            ng-class="{
              'list-group-item-success': tc.result == 'Passed',
              'list-group-item-danger': tc.result == 'Failed',
              'list-group-item-warning': tc.result == 'Skipped',
              'list-group-item-info': tc.result == 'Inconclusive'
            }" 
            ng-click="openTestCase(tc)" 
            ng-repeat="tc in testCases | filter: query | filter: testCaseFilter"
        >
            <small>{{tc.name}}</small>
        </a>
    </ul>
</div>
<div class="col-md-8">
    <div class="page-header">
        <h3 class="test-case-name">
        <span ng-class="{
            'text-success': currentTestCase.result == 'Passed',
            'text-danger': currentTestCase.result == 'Failed',
            'text-warning': currentTestCase.result == 'Skipped'
        }">[{{currentTestCase.result}}] {{currentTestCase.name}}</span>
        <span class="label pull-right" ng-class="{
            'label-success': currentTestCase.result == 'Passed',
            'label-danger': currentTestCase.result == 'Failed',
            'label-warning': currentTestCase.result == 'Skipped'
        }">{{currentTestCase.duration}}s</span>
        <p><small>{{currentTestCase.classname}}</small></p>
        </h3>
    </div>
    <div ng-show="!!currentTestCase.getMessage()">
        <h4>Message</h4>
        <pre class="truncated">{{currentTestCase.getMessage()}}</pre>
        <hr/>
    </div>
    <div ng-show="!!currentTestCase.output">
        <h4>Output</h4>
        <pre class="truncated">{{currentTestCase.getOutput()}}</pre>
        <hr/>
    </div>
    <div ng-show="!!currentTestCase.eventLog">
        <h4>Event Log</h4>
        <treecontrol class="tree-light" tree-model="currentTestCase.getEventLog()" options="eventTreeOptions">
           <span class="description">{{node.description}}</span>
           <span ng-if="node.arguments && node.arguments.length > 0" class="arguments">{{node.arguments}}</span>
           <span ng-if="node.duration" class="duration pull-right">{{node.duration}}</span>
        </treecontrol>
        <hr/>
    </div>
    <div ng-show="!!currentTestCase.images">
        <h4>Screenshots</h4>
        <uib-carousel interval="5000" class=".carousel">
            <uib-slide ng-repeat="image in currentTestCase.images" active="slide.active">
                <img ng-src="{{image}}" style="margin:auto;"/>
            </uib-slide>
        </uib-carousel>
        <hr/>
    </div>
</div>
