<div class="container-fluid">
    <div class="left-menu">
        <ul class="nav nav-pills nav-justified nav-filter">
            <li>
                <a>Total<span class="badge">{{summary.total}}</span></a>
            </li>
            <li ng-class="{active: shouldDisplayResult('Passed')}">
                <a ng-click="toggleDisplayResult('Passed')">Passed<span class="badge success">{{summary.passed}}</span></a>
            </li>
            <li ng-class="{active: shouldDisplayResult('Failed')}">
                <a ng-click="toggleDisplayResult('Failed')">Failed<span class="badge failed">{{summary.failed}}</span></a>
            </li>
            <li ng-class="{active: shouldDisplayResult('Inconclusive')}">
                <a ng-click="toggleDisplayResult('Inconclusive')">Inconclusive<span class="badge inconclusive">{{summary.inconclusive}}</span></a>
            </li>
            <li ng-class="{active: shouldDisplayResult('Skipped')}">
                <a ng-click="toggleDisplayResult('Skipped')">Skipped<span class="badge skipped">{{summary.skipped}}</span></a>
            </li>
        </ul>
        <input type="search" class="form-control" ng-model="query" typeahead="name as tc.name for tc in testCases | filter:$viewValue | limitTo:8" typeahead-on-select="setQueryFilterValue($item.name)" placeholder="Test Case Filter" />
        <ul class="list-group">
            <a class="list-group-item" ng-class="{
                  'list-group-item-success': tc.result == 'Passed',
                  'list-group-item-danger': tc.result == 'Failed',
                  'list-group-item-warning': tc.result == 'Skipped',
                  'list-group-item-info': tc.result == 'Inconclusive'
                }" ng-click="openTestCase(tc)" popover-title="{{tc.result}}" popover-trigger="mouseenter" ng-repeat="tc in testCases | filter: query | filter: testCaseFilter">
                <small>{{tc.name}}</small>
            </a>
        </ul>
    </div>
</div>
<div class="container-fluid main-content">
    <div class="page-header">
        <h3 class="test-case-name">
        <span ng-class="{
            'text-success': currentTestCase.result == 'Passed',
            'text-danger': currentTestCase.result == 'Failed',
            'text-warning': currentTestCase.result == 'Skipped'
        }">[{{currentTestCase.result}}] {{currentTestCase.name}}</span>
        <span class="label pull-right" ng-class="{
            'label-success': currentTestCase.result == 'Passed',
            'label-danger': currentTestCase.result == 'Failed',
            'label-warning': currentTestCase.result == 'Skipped'
        }">{{currentTestCase.duration}}s</span>
        <p><small>{{currentTestCase.classname}}</small></p>
        </h3>
    </div>
    <div ng-show="!!currentTestCase.getMessage()">
        <h4>Message</h4>
        <pre class="truncated">{{currentTestCase.getMessage()}}</pre>
        <hr/>
    </div>
    <div ng-show="!!currentTestCase.output">
        <h4>Output</h4>
        <pre class="truncated">{{currentTestCase.output}}</pre>
        <hr/>
    </div>
    <div ng-show="!!currentTestCase.images">
        <h4>Screenshots</h4>
        <div ng-repeat="image in currentTestCase.images">
            <img ng-src="{{image}}" style="margin:auto;"/>
        </div>
        <hr/>
    </div>
</div>
